body{
  background-color: #f1f3f6 !important;
}

.header{
  background-color: rgb(252, 253, 253);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(4, 4, 160);
  font-weight: bolder;
  font-size: 50px;
}

.gameBoard{
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin:auto;
}

.game-square{
  width: 33.33%;;
  height: 33.33%;
  /* border-radius: 5px solid #fff !important; */
  font-family: "Permanent Marker", cursive;
  /* width: 100px;
  height: 100px; */
  box-shadow: 0 0 0 1px #3107ee;
  border: 2px solid #4e03fc;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

 .x10{
    font-size: 5rem;
 }

 .message{
   font-size: 4rem;
   font-weight: bold;
   font-family: sans-serif;
   color: rgb(2, 148, 2);
 }


